<!DOCTYPE html>
<html>
<head>
    <title>JBOS支撑系统</title>
    <#include "/header.html"/>
</head>
<body>
<div id="org"  v-cloak>

    <el-form :inline="true" :model="search" class="demo-form-inline">
        <el-row>

        <el-form-item label="机构名称">
            <el-input type="text" v-model="search.orgNames"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button @click="onSearch">查询</el-button>
            <el-button type="primary" @click="onShowAdd">新增</el-button>
            <el-button type="success" @click="onShowUpdate" :disabled="dataListSelections.length <= 0">编辑</el-button>
            <el-button type="danger" @click="onDelete" :disabled="dataListSelections.length <= 0">删除</el-button>
        </el-form-item>
        </el-row>
    </el-form>


    <el-table
            :data="orgList"
            border
            v-loading="dataListLoading"
            stripe="true"
            @selection-change="selectionChangeHandle"
            style="width: 100%">

        <el-table-column
                type="selection"
                width="55">
        </el-table-column>
        <el-table-column
                prop="orgCode"
                label="机构编码"
                width="180">
        </el-table-column>
        <el-table-column
                prop="orgName"
                label="机构名称"
                width="180">
        </el-table-column>
        <el-table-column
                prop="orgType"
                label="机构类型">
        </el-table-column>
    </el-table>
    <el-pagination
            @size-change="sizeChangeHandle"
            @current-change="currentChangeHandle"
            :current-page="pageIndex"
            :page-sizes="[10, 20, 50, 100]"
            :page-size="pageSize"
            :total="totalPage"
            layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <div v-if="showType!='list'">
        <el-dialog :title="showTitle" :close-on-click-modal="false" :visible.sync="visible">
            <el-form :model="orgForm" label-width="100px">
                <el-form-item label="机构编码">
                    <el-input type="text" v-model="orgForm.orgCode"></el-input>
                </el-form-item>
                <el-form-item label="机构名称">
                    <el-input type="text" v-model="orgForm.orgName"></el-input>
                </el-form-item>
                <el-form-item label="机构类型">
                    <el-select v-model="orgForm.orgType" placeholder="请选机构类型">
                        <el-option label="公司" value="01"></el-option>
                        <el-option label="部门" value="02"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="机构描述">
                    <el-input type="textarea" v-model="orgForm.orgDesc"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="visible = false">取 消</el-button>
                <el-button type="primary" @click="saveOrUpdate">确 定</el-button>
            </div>
        </el-dialog>
    </div>

</div>

<script src="${request.contextPath}/statics/js/sys/org.js"></script>
</body>
</html>